.savedIcon img{
    width: 30px;
}

.input-group-text {
    min-width: 87px !important;
}

/* make the save button rounded on the right side */
.btns {
    width: 80px !important;
    border-color: #ebebeb;
    border-radius: 0px 8px 8px 0px;
    background: transparent;
}

.textarea {
    background-color: #999999 !important;
}

.teaxtarea:focus {
    outline-style: none !important;
}

.views {
    font-family: 'Open Sans', sans-serif;
    border-top: 10px solid black;
    text-align: center;
    font-size: 20px;
    padding: 40px 20px;
    margin: auto;
}

.container {
    padding: 10px 0px 40px 0px
}

.jumbotron {
    padding: 20px;
}