.savedIcon img{
    width: 30px;
}

.input-group-text {
    min-width: 87px !important;
}

/* make the save button rounded on the right side */
.btns {
    width: 80px !important;
    border-color: #ebebeb;
    border-radius: 0px 8px 8px 0px;
    background: transparent;
}

.textarea {
    background-color: #999999 !important;
}

.teaxtarea:focus {
    outline-style: none !important;
}