.savedIcon img{
    width: 30px;
}

.input-group-text {
    min-width: 87px !important;
}

#t-1 {
    background-color: #ffffff; 
}

#t-2 {
    background-color: #ffffff; 
}

#t-3 {
    background-color: #ffffff; 
}

#t-4 {
    background-color: #ffffff; 
}

#t-5 {
    background-color: #ffffff; 
}

#t-6 {
    background-color: #ffffff; 
}

#t-7 {
    background-color: #ffffff; 
}

#t-8 {
    background-color: #ffffff; 
}

#t-9 {
    background-color: #ffffff; 
}